@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.svg-hand-wrapper {
    --card-size: 10em;
    --card-rotate: 11deg;
    --card-rotate-origin: 25%;
    --card-reveal: 2em;
    display: inline-block;
}

    .svg-hand-wrapper.cards-2 {
        padding: 0.6875em 1.3125em 0.75em 1.375em;
    }

    .svg-hand-wrapper.cards-3 {
        padding: 1.1875em 2.5625em 1.4375em 2.6875em;
    }

    .svg-hand-wrapper.cards-4 {
        padding: 1.5625em 3.6875em 2.1875em 3.875em;
    }

    .svg-hand-wrapper.cards-5 {
        padding: 1.8125em 4.75em 2.8125em 5.0625em;
    }

    .svg-hand-wrapper.cards-6 {
        padding: 0em calc(5*var(--card-reveal)) 0em 0em;
    }

    .svg-hand-wrapper.cards-7 {
        padding: 0em calc(6*var(--card-reveal)) 0em 0em;
    }

.svg-card-wrapper {
    position: absolute;
}

.svg-card-wrapper:last-child {
    position: inherit;
}

.svg-card-wrapper.card-1 .playing-card { transform: rotate(calc(1*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }
.svg-card-wrapper.card-2 .playing-card { transform: rotate(calc(2*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }
.svg-card-wrapper.card-3 .playing-card { transform: rotate(calc(3*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }
.svg-card-wrapper.card-4 .playing-card { transform: rotate(calc(4*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }

.svg-hand-rotator.cards-2 { transform: rotate(calc(-0.5*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }
.svg-hand-rotator.cards-3 { transform: rotate(calc(-1.0*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }
.svg-hand-rotator.cards-4 { transform: rotate(calc(-1.5*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }
.svg-hand-rotator.cards-5 { transform: rotate(calc(-2.0*var(--card-rotate))); transform-origin: var(--card-rotate-origin) 100%; }

/* Override translations for cards-6 and cards-7 layouts */
.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-1 .playing-card { transform: translateX(calc(1*var(--card-reveal))); }
.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-2 .playing-card { transform: translateX(calc(2*var(--card-reveal))); }
.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-3 .playing-card { transform: translateX(calc(3*var(--card-reveal))); }
.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-4 .playing-card { transform: translateX(calc(4*var(--card-reveal))); }
.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-5 .playing-card { transform: translateX(calc(5*var(--card-reveal))); }
.svg-hand-wrapper.cards-6 .svg-hand-rotator { transform: none; }

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-1 .playing-card { transform: translateX(calc(1*var(--card-reveal))); }
.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-2 .playing-card { transform: translateX(calc(2*var(--card-reveal))); }
.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-3 .playing-card { transform: translateX(calc(3*var(--card-reveal))); }
.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-4 .playing-card { transform: translateX(calc(4*var(--card-reveal))); }
.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-5 .playing-card { transform: translateX(calc(5*var(--card-reveal))); }
.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-6 .playing-card { transform: translateX(calc(6*var(--card-reveal))); }
.svg-hand-wrapper.cards-7 .svg-hand-rotator { transform: none; }


svg.playing-card {
    width: var(--card-size);
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
