@page "/"
@namespace Poker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poker</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/blazor-dragdrop/dragdrop.css" rel="stylesheet" />
    <script type='text/javascript' src='https://www.x3dom.org/release/x3dom-full-physics.js'></script>
    <script>
        window.x3dom_reload = () => {
            console.log('x3dom_reload');
            x3dom.reload();
            var elementsToFit = document.getElementsByClassName('x3d-fit')
            for (var i = 0, len = elementsToFit.length | 0; i < len; i = i + 1 | 0) {
                console.log('x3dom_fitAll');
                elementsToFit[i].runtime.fitAll();
            }
        };
    </script>
    <link rel='stylesheet' type='text/css' href='https://www.x3dom.org/release/x3dom.css' />
    <link href="css/TableStyle.css" rel="stylesheet" />
    <script>
        function screenshot(element) {
            console.log('Screenshot');
            //Get data url from the runtime
            var imgUrl = element.closest(".x3d-reg").runtime.getScreenshot();

            //Create preview image...
            var newScreenshotImage = document.createElement('img');
            newScreenshotImage.src = imgUrl;
            document.getElementById("screenshotPreviews").append(newScreenshotImage);
        }
    </script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
