@function css_min($numbers...) {
    @return m#{i}n(#{$numbers});
}

/* a full poker table */
.poker-table-holder {
    position: relative;
    max-width: 1306px;
    padding-top: css_min(67%, 875px);
    margin-bottom: 8%;

    .player-controls-1 {
        position: absolute;
        bottom: -20px;
        left: 10px;
    }

    .player-controls-2 {
        position: absolute;
        bottom: -20px;
        right: 10px;
    }
}

.poker-table {
    background-image: url('../wwwroot/images/table.png');
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: 10%;
    --transition-time: 1s;
    --table-size: 1045;

    .layout-location {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* size & locations */
    .seat-location {
        height: 20%;
        width: 20%;
    }

    .seat.winner {
        box-shadow: 0px 0px 30px 10px #ffdb00;
        background-color: #ffdb00BB;
    }

    .bet-location {
        z-index: 5;
    }

    &.handed-6 {

        #player0 {

            .seat-location {
                position: absolute;
                top: 100%;
                left: 50%;
            }

            .button-location {
                position: absolute;
                top: 80%;
                left: 40%;
            }

            .bet-location {
                position: absolute;
                top: 80%;
                left: 50%;
            }
        }


        #player1 {

            .seat-location {
                position: absolute;
                left: 10%;
                top: 80%;
            }

            .button-location {
                position: absolute;
                top: 60%;
                left: 15%;
            }

            .bet-location {
                position: absolute;
                top: 67%;
                left: 22%;
            }
        }

        #player2 {

            .seat-location {
                position: absolute;
                left: 10%;
                top: 20%;
            }

            .button-location {
                position: absolute;
                top: 40%;
                left: 15%;
            }

            .bet-location {
                position: absolute;
                top: 33%;
                left: 22%;
            }
        }

        #player3 {

            .seat-location {
                position: absolute;
                left: 50%;
                top: 0%;
            }

            .button-location {
                position: absolute;
                top: 20%;
                left: 60%;
            }

            .bet-location {
                position: absolute;
                top: 20%;
                left: 50%;
            }
        }

        #player4 {

            .seat-location {
                position: absolute;
                left: 90%;
                top: 20%;
            }

            .button-location {
                position: absolute;
                top: 40%;
                left: 85%;
            }

            .bet-location {
                position: absolute;
                top: 33%;
                left: 78%;
            }
        }

        #player5 {

            .seat-location {
                position: absolute;
                left: 90%;
                top: 80%;
            }

            .button-location {
                position: absolute;
                top: 60%;
                left: 85%;
            }

            .bet-location {
                position: absolute;
                top: 67%;
                left: 78%;
                transition: all var(--transition-time) ease;
            }
        }
    }

    &.handed-9 {

        #seat0 {
            left: 37%;
            top: 64%;

            .button {
                top: -20%;
                left: 5%;
            }

            .bet {
                top: -35%;
                left: 50%;
            }
        }


        #seat1 {
            left: 10%;
            top: 57.6%;

            .button {
                top: -30%;
                left: 40%;
            }

            .bet {
                top: -20%;
                left: 90%;
            }
        }


        #seat2 {
            left: -8%;
            top: 36%;

            .button {
                top: 0%;
                left: 115%;
            }

            .bet {
                top: 30%;
                left: 130%;
            }
        }

        #seat3 {
            left: -5%;
            top: 10.4%;

            .button {
                top: 35%;
                left: 120%;
            }

            .bet {
                top: 65%;
                left: 125%;
            }
        }

        #seat4 {
            left: 22%;
            top: -8%;

            .button {
                top: calc(65% + 3rem);
                left: 80%;
            }

            .bet {
                top: calc(65% + 3rem);
                left: 60%;
            }
        }

        #seat5 {
            left: 58%;
            top: -8%;

            .button {
                top: calc(65% + 3rem);
                left: 5%;
            }

            .bet {
                top: calc(65% + 3rem);
                left: 40%;
            }
        }

        #seat6 {
            left: 85%;
            top: 10.4%;

            .button {
                top: 35%;
                left: -40%;
            }

            .bet {
                top: 65%;
                left: -25%;
            }
        }

        #seat7 {
            left: 88%;
            top: 36%;

            .button {
                top: 0%;
                left: -30%;
            }

            .bet {
                top: 30%;
                left: -30%;
            }
        }

        #seat8 {
            left: 70%;
            top: 57.6%;

            .button {
                top: 0%;
                left: -25%;
            }

            .bet {
                top: -20%;
                left: 20%;
            }
        }
    }

    &.handed-8 {

        #seat0 {
            left: 37%;
            top: 64%;

            .button {
                top: -20%;
                left: 5%;
            }

            .bet {
                top: -35%;
                left: 50%;
            }
        }


        #seat1 {
            left: 5%;
            top: 58%;

            .button {
                top: -30%;
                left: 40%;
            }

            .bet {
                top: -20%;
                left: 90%;
            }
        }


        #seat2 {
            left: -10%;
            top: 30%;

            .button {
                top: 0%;
                left: 115%;
            }

            .bet {
                top: 41%;
                left: 125%;
            }
        }

        #seat3 {
            left: 5%;
            top: 0%;

            .button {
                top: 70%;
                left: 120%;
            }

            .bet {
                top: 95%;
                left: 100%;
            }
        }

        #seat4 {
            left: 40%;
            top: -10%;

            .button {
                top: calc(65% + 3rem);
                left: 80%;
            }

            .bet {
                top: calc(65% + 3rem);
                left: 50%;
            }
        }

        #seat5 {
            left: 75%;
            top: 0%;

            .button {
                top: calc(65% + 3rem);
                left: 5%;
            }

            .bet {
                top: calc(65% + 3rem);
                left: 40%;
            }
        }

        #seat6 {
            left: 90%;
            top: 30%;

            .button {
                top: 85%;
                left: -22%;
            }

            .bet {
                top: 41%;
                left: -25%;
            }
        }

        #seat7 {
            left: 75%;
            top: 58%;

            .button {
                top: 5%;
                left: -30%;
            }

            .bet {
                top: -15%;
                left: -5%;
            }
        }
    }

    #board-location {
        position: absolute;
        left: 50%;
        width: 40%;
        top: 45%;
        height: 15%;
    }

    #oldboard-location {
        position: absolute;
        left: 52%;
        width: 40%;
        top: 35%;
        height: 15%;

        .holecards {
            opacity: .25;
        }
    }

    #oldboard-location {
        display: none;
    }

    &.hand-review #oldboard-location {
        display: block;
    }

    #current-pot-location {
        position: absolute;
        left: 50%;
        top: 63%;
    }

    #total-pot-location {
        position: absolute;
        left: 50%;
        top: 32%;
    }

    &.scooping .bet-location {
        left: 50% !important;
        top: 63% !important;
        transition: all var(--transition-time) ease;
    }

    &.handed-6.returning {

        #player0 {

            .bet-location {
                position: absolute;
                top: 80%;
                left: 50%;
                transition: all var(--transition-time) ease;
            }
        }


        #player1 {

            .bet-location {
                position: absolute;
                top: 67%;
                left: 22%;
                transition: all var(--transition-time) ease;
            }
        }

        #player2 {

            .bet-location {
                position: absolute;
                top: 33%;
                left: 22%;
                transition: all var(--transition-time) ease;
            }
        }

        #player3 {

            .bet-location {
                position: absolute;
                top: 20%;
                left: 50%;
                transition: all var(--transition-time) ease;
            }
        }

        #player4 {

            .bet-location {
                position: absolute;
                top: 33%;
                left: 78%;
                transition: all var(--transition-time) ease;
            }
        }

        #player5 {

            .bet-location {
                position: absolute;
                top: 67%;
                left: 78%;
                transition: all var(--transition-time) ease;
            }
        }
    }
    /* styles */
    #board {
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .button {
        background-image: url('../images/dealerbutton.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 19px;
        width: 24px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .bet, #current-pot, #total-pot {
        width: 10em;
        color: white;
        text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
        text-align: center;
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .seat {
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .cards {
            position: absolute;
            width: 100%;
            height: 60%;
            overflow: hidden;
        }

        .top-hand {
            position: absolute;
            width: 70%;
        }

        .middle-hand {
            position: absolute;
            margin-top: -2%;
            width: 60%;
            margin-left: 27%;
        }

        .bottom-hand {
            position: absolute;
            margin-top: 15%;
            width: 75%;
            margin-left: 8%;
        }

        .player-name {
            position: absolute;
            top: 60%;
            width: 100%;
            height: 20%;
            background-color: rgba(64, 64, 64, 0.8);
            border-radius: 0.5em 0.5em 0 0;
            color: white;
            text-align: center;
        }

        .chips {
            position: absolute;
            top: 80%;
            width: 100%;
            height: 20%;
            background-color: rgba(64, 64, 64, 0.8);
            color: white;
            text-align: center;
        }

        .delta {
            position: absolute;
            top: 80%;
            left: 75%;
            width: 25%;
            height: 20%;
            background-color: rgba(64, 64, 64, 0.8);
            color: white;
            text-align: center;
        }
    }

    &.top-hand {
        .top-hand .holecards {
            width: 80%;
        }

        .middle-hand .holecards {
            opacity: .25;
        }

        .bottom-hand .holecards {
            opacity: .25;
        }
    }

    &.middle-hand {
        .top-hand .holecards {
            opacity: .25;
        }

        .middle-hand {
            margin-top: -2%;
            width: 75%;
            margin-left: 22%;
        }

        .bottom-hand .holecards {
            opacity: .25;
        }
    }

    &.bottom-hand {
        .top-hand .holecards {
            opacity: .25;
        }

        .middle-hand .holecards {
            opacity: .25;
        }

        .bottom-hand {
            margin-top: 8%;
            width: 100%;
            margin-left: 0%;
        }
    }


    #seat0 {
        height: 26%;
        width: 26%;
    }

    .boardcard {
        height: 73px;
        left: 0px;
        background-repeat: no-repeat;
        position: absolute;
        top: -10px;
        width: 50px;
    }
}
/* just a single hand */
.poker-hand {
    width: 15%;

    .holecards {
        width: 100%;
        padding: 12.5%;
    }
}
/* hand layout */
@mixin linear-slid($cards) {
    padding-right: calc(($cards - 1)*var(--card-reveal));
}

.svg-hand-wrapper {
    --card-rotate: 11deg;
    --card-rotate-origin: 25%;
    --card-reveal: 20%;
    display: inline-block;
    position: relative;
    /*overflow: hidden;*/

    &.cards-1 {
        --card-size: 90%;
        padding-top: 0%;
        padding-left: 10%;
    }

    &.cards-2 {
        --card-size: 89%;
        padding-top: 7%;
        padding-left: 10%;
    }

    &.cards-3 {
        --card-size: 89%;
        padding-top: 7%;
        padding-left: 15%;
    }

    &.cards-4 {
        --card-size: 89%;
        padding-top: 7%;
        padding-left: 20%;
    }

    &.cards-5 {
        --card-size: 85%;
        padding-top: 7%;
        padding-left: 23%;
    }

    &.cards-6 {
        @include linear-slid(6);
    }

    &.cards-7 {
        @include linear-slid(7);
    }
}

.community-cards.svg-hand-wrapper.cards-5 {
    @include linear-slid(9);
}

@mixin card-rotate($cards) {
    transform: rotate(calc(#{$cards}*var(--card-rotate) ));
    transform-origin: var(--card-rotate-origin) 100%;
}

.svg-card-wrapper {
    position: absolute;

    &:last-child {
        position: relative;
    }

    &.card-1 .playing-card {
        @include card-rotate(1);
    }

    &.card-2 .playing-card {
        @include card-rotate(2);
    }

    &.card-3 .playing-card {
        @include card-rotate(3);
    }

    &.card-4 .playing-card {
        @include card-rotate(4);
    }
}

.layout-cards {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 40%;

    .dropzone {
        display: inline-block;
        min-height: unset;
    }

    .seat {
        display: inline-block;
    }

    .cards {
        display: inline-block;
    }

    .svg-card-wrapper {
        display: inline-block;
        --card-size: 100%;
        width: 23%;
        position: relative;
    }
}

.svg-hand-rotator.cards-2 {
    @include card-rotate(-0.5);
}

.svg-hand-rotator.cards-3 {
    @include card-rotate(-1);
}

.svg-hand-rotator.cards-4 {
    @include card-rotate(-1);
}

.svg-hand-rotator.cards-5 {
    @include card-rotate(-1.5);
}
/* Override translations for cards-6 and cards-7 layouts */
@mixin card-translate($cards) {
    transform: translateX(calc(#{$cards}*var(--card-reveal)));
}

.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-1 .playing-card {
    @include card-translate(1);
}

.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-2 .playing-card {
    @include card-translate(2);
}

.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-3 .playing-card {
    @include card-translate(3);
}

.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-4 .playing-card {
    @include card-translate(4);
}

.svg-hand-wrapper.cards-6 .svg-card-wrapper.card-5 .playing-card {
    @include card-translate(5);
}

.svg-hand-wrapper.cards-6 .svg-hand-rotator {
    transform: none;
}

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-1 .playing-card {
    @include card-translate(1);
}

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-2 .playing-card {
    @include card-translate(2);
}

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-3 .playing-card {
    @include card-translate(3);
}

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-4 .playing-card {
    @include card-translate(4);
}

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-5 .playing-card {
    @include card-translate(5);
}

.svg-hand-wrapper.cards-7 .svg-card-wrapper.card-6 .playing-card {
    @include card-translate(6);
}

.svg-hand-wrapper.cards-7 .svg-hand-rotator {
    transform: none;
}
/* Override translations for 5 card community cards layouts */
#board .holecards {
    width: 45%;
    height: 20%;
}

.community-cards.svg-hand-wrapper.cards-5 {
    padding-top: 0%;
    padding-left: 0%;
}

.community-cards.svg-hand-wrapper.cards-5 .svg-card-wrapper.card-1 .playing-card {
    @include card-translate(2);
}

.community-cards.svg-hand-wrapper.cards-5 .svg-card-wrapper.card-2 .playing-card {
    @include card-translate(4);
}

.community-cards.svg-hand-wrapper.cards-5 .svg-card-wrapper.card-3 .playing-card {
    @include card-translate(6);
}

.community-cards.svg-hand-wrapper.cards-5 .svg-card-wrapper.card-4 .playing-card {
    @include card-translate(8);
}

.community-cards.svg-hand-wrapper.cards-5 .svg-hand-rotator {
    transform: none;
}

.svg-stacked-hand {
    --hand-reveal: 30%;
    display: inline-block;

    .holecards:nth-child(1) {
        transform: translate(-10%, calc(-1.0*var(--hand-reveal)));
        height: 90%;
    }

    .holecards:nth-child(2) {
        transform: translate(+35%, calc(-1.0*var(--hand-reveal)));
        height: 90%;
        width: 75%
    }
}

svg.playing-card {
    width: var(--card-size);
}

.x3d-fit {
    margin: -25px;
    width: 100px;
    height: 100px;
}

.chip-stack.large .x3d-reg {
    margin: 0px;
    width: 128px;
    height: 96px;
}

.chip-stack {
    display: inline-block;
    transform: scale(calc(var(--table-size) / 1000));

    .chip {
        background-repeat: no-repeat;
        background-size: 800% 100%;
        width: 4em;
        height: 3em;
        margin-top: -3.28125em;
    }

    .chip:nth-child(1) {
        margin-top: 0px;
    }

    .chip-0 {
        background-position-x: 0px;
    }

    .chip-1 {
        background-position-x: -4em;
    }

    .chip-2 {
        background-position-x: -8em;
    }

    .chip-3 {
        background-position-x: -12em;
    }

    .chip-4 {
        background-position-x: -16em;
    }

    .chip-5 {
        background-position-x: -20em;
    }

    .chip-6 {
        background-position-x: -24em;
    }

    .chip-7 {
        background-position-x: -28em;
    }

    .chips-1 {
        background-image: url('../wwwroot/images/chips-1.png');
    }

    .chips-5 {
        background-image: url('../wwwroot/images/chips-5.png');
    }

    .chips-25 {
        background-image: url('../wwwroot/images/chips-25.png');
    }

    .chips-100 {
        background-image: url('../wwwroot/images/chips-100.png');
    }

    .chips-500 {
        background-image: url('../wwwroot/images/chips-500.png');
    }

    .chips-1000 {
        background-image: url('../wwwroot/images/chips-1000.png');
    }

    .chips-5000 {
        background-image: url('../wwwroot/images/chips-5000.png');
    }
}
