@using Poker.Models;
@using Poker.Helpers;

@inject SvgCards svgCards

@{
    int i = 0;
    var cards = ShowBlanks ? Hand.CardCount : Bits.BitCount(Hand.CardsMask);
    <div class="svg-hand-wrapper cards-@(cards)">
        <div class="svg-hand-rotator cards-@(cards)">
            @foreach (var card in Hand.CardNumbers)
            {
                <div class="svg-card-wrapper card-@(i++)">
                    @(svgCards.Faces[card])
                </div>
            }
            @while (i < cards)
            {
                <div class="svg-card-wrapper card-@(i++)">
                    @(svgCards.BackRed)
                </div>
            }
        </div>
    </div>
}

@code {
  [Parameter]
  public BaseHand Hand { get; set; }
  [Parameter]
  public bool ShowBlanks { get; set; }
}
